<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus dicta nobis delectus tempore
        assumenda, atque quasi hic ea quaerat aliquid!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque tempore sit ex porro corporis assumenda
        doloribus perspiciatis aliquid, non aperiam.</p>
    <a href="https://github.com/immalz" target="_blank" class="btn btn-primary">Marco Alzamora</a>
</div>